*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(to bottom,#f8fafc,#e2e8f0);
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#1e293b;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a:hover{
    color:#60a5fa;
    transition:.3s;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:3rem;
}

.hero p{
    margin:20px 0;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:20px;
}

.skills{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.skills div{
    background:white;
    padding:15px 25px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    margin:auto;
    box-shadow:0 3px 12px rgba(0,0,0,0.1);
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}

git config user.email "tarakram75693@gmail.com"
