*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(to bottom,#f8fafc,#e2e8f0);
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#1e293b;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    letter-spacing:1px;
    font-weight:700;
}

.hero p{
    font-size:1.2rem;
}
.card:hover,
.stat-box:hover{
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
@media(max-width:768px){

    nav{
    flex-direction:column;
    gap:15px;
    }
    
    nav ul{
    flex-wrap:wrap;
    justify-content:center;
    }
    
    .hero h1{
    font-size:2rem;
    }
    
    }

    .btn{
        font-weight:600;
        letter-spacing:.5px;
        }
.btn:hover{
    transform:scale(1.05);
    transition:.3s;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:20px;
}

.skills{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.skills div:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.profile{
    text-align:center;
}

.profile img{
    width:180px;
    border-radius:50%;
}
.top-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#2563eb;
    color:white;
    padding:12px 16px;
    border-radius:50%;
    text-decoration:none;
    }
.skills div{
    background:white;
    padding:15px 25px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    margin:auto;
    box-shadow:0 3px 12px rgba(0,0,0,0.1);
    transition:.3s;

}
.stats{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.stat-box{
    background:white;
    padding:25px;
    width:180px;
    border-radius:10px;
    box-shadow:0 2px 12px rgba(0,0,0,.1);
}
.card:hover{
    transform:translateY(-8px);
}
footer{
    margin-top:50px;
    letter-spacing:.5px;
    }
input,
textarea{
    width:350px;
    padding:12px;
    border:1px solid #ddd;
    border-radius:5px;
}
#contact{
    background:white;
    border-radius:10px;
}
.bar{
    height:10px;
    background:#ddd;
    border-radius:20px;
    }
    
    .bar span{
    display:block;
    height:100%;
    background:#2563eb;
    border-radius:20px;
    }
